<header>
  <div class="container header-content-wrapper">
    <% if (signedInUser){ %>
      <p class="user">Hello, <%= signedInUser.username %></p>
    <% } %>
    <a href="/add" class="add-new-btn">
      <span class="material-symbols-outlined">
        add
      </span>
    </a>
  </div>
</header>